body {
  background-color: #555;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  color: #fff;
  padding: 0.2em;
  text-align: center;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.8);
}

#div-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#div-titulo img {
  width: 2em;
  transform: rotate(90deg);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#div-titulo .girarImg {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}

h2 {
  color: #2c3e50;
}

h3 {
  color: #16a085;
}

h4 {
  color: #8e44ad;
}

section {
  background-color: #f0f0f0;
  margin: 1em 0.5em;
  padding: 0.5em;
  border: 1px solid #000;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
  line-height: 1.5em;
}

strong {
  color: #d35400;
}

ul,
ol {
  padding-left: 1em;
}

video {
  display: block;
  width: 50%;
  border: 2px solid #d35400;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}

@media (max-width: 400px) {
  video {
    width: 100%;
  }
}
